<div class="container-fluid">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
      <p class="col-md-12 mb-0 text-muted text-center">تخمينة 2024 ©</p>

    </footer>
  </div>
