<div id="container">
    <div class="nav_bar"><button id="difficultySelectBtn" class="btn"></button></div>
    <div id="notification"></div>
    <div class="game_area">
        <div class="row"><div class="row_block"></div><div class="row_block"></div><div class="row_block"></div><div class="row_block"></div><div class="row_block"></div></div>
        <div class="row"><div class="row_block"></div><div class="row_block"></div><div class="row_block"></div><div class="row_block"></div><div class="row_block"></div></div>
        <div class="row"><div class="row_block"></div><div class="row_block"></div><div class="row_block"></div><div class="row_block"></div><div class="row_block"></div></div>
        <div class="row"><div class="row_block"></div><div class="row_block"></div><div class="row_block"></div><div class="row_block"></div><div class="row_block"></div></div>
        <div class="row"><div class="row_block"></div><div class="row_block"></div><div class="row_block"></div><div class="row_block"></div><div class="row_block"></div></div>
        <div class="row"><div class="row_block"></div><div class="row_block"></div><div class="row_block"></div><div class="row_block"></div><div class="row_block"></div></div>    
    </div>
</div>