<div class="container-fluid container-fluid-custom py-md-5 mb-5">
   <main>
      <div class="row py-md-5 text-center justify-content-center">


         <div class=" col-md-12 col-lg-8 mb-4 mb-md-0">

            <h1 class="display-2 fw-bold mb-4 position-relative home-title">
               خمن الحروف الصحيحة حتى تصل للكلمة المطلوبة </h1>
            <p class="fs-4 mb-4 secondary-text"> لعبة Wordle الشهيرة</p>
            <% if (user) { %>
               <a href="/dashboard " class="btn btn-primary btn-lg">ابدأ اللعب !</a>
               <% } else { %>
                  <a href="/login " class="btn btn-primary btn-lg">ابدأ اللعب !</a>
                  <% } %>
         </div>
         <div class="imgeL col-md-12 col-lg-6 text-center">
         </div>
         <div id="S2" class="box">
            <h1 style="color:white;" href='#'>الأصناف</h1>
            <% words.forEach(word=> { %>
               <div class="card">
                  <%= word.level %>
               </div>
               <% }); %>
         </div>

      </div>
   </main>


</div>